@import "~bootstrap/scss/bootstrap";

#big-box {
  background: blueviolet;
  border-radius: 5px;
}

h1 {
  color: white;
}

.cat-pic {
  height: 100px;
}

#facts {
  // list-style-type: none;
  color: white;
}
