@import "~bootstrap/scss/bootstrap";

.outer-box {
  background-color: #58bcda;
  border-radius: 50px;
}

h1 {
  color: white;
}

.cat-pic {
  height: 100px;
}

#facts {
  // list-style-type: none;
  color: white;
}
